<div class="data">
    <button class="btn btn-primary" (click)="buffer()">Start Interval</button>
    <button class="btn btn-primary m-1" id="button">Show data at buffer</button>
    <button class="btn btn-primary m-1" (click)="buffercount()">
        buffercount
    </button>
    <button class="btn btn-primary m-1" (click)="bufferTime()">
        Buffer at a time
    </button>
    <button class="btn btn-primary m-1" (click)="bufferToggle()">
        Buffer at a toggle
    </button>
    <button class="btn btn-primary m-1" (click)="bufferWhen()">
        Buffer at a when
    </button>
</div>
