<div class="data">
    <button id="search" class="btn btn-primary m-2" (click)="debounce()">Debounce</button>
    <button id="search" class="btn btn-primary m-2" (click)="distinctUntil()">Simple Distinct</button>
    <button id="search" class="btn btn-primary m-2" (click)="SimpledistinctUntil()">Distinct until </button>
    <button id="search" class="btn btn-primary m-2" (click)="filter()">Filter Operator </button>
    <button id="search" class="btn btn-primary m-2" (click)="take()">Take Operator </button>
    <button id="search" class="btn btn-primary m-2" (click)="takeUntil()">TakeUntil Operator </button>
    <button id="search" class="btn btn-primary m-2" (click)="throttleTime()">throttleTime Operator </button>
    <button id="search" class="btn btn-primary m-2" (click)="audit()">Audit Operator </button>
    <button id="search" class="btn btn-primary m-2" (click)="skip()">Skip Operator </button>
    <button id="search" class="btn btn-primary m-2" (click)="skipUntil()">Skip Until Operator </button>
    <button id="search" class="btn btn-primary m-2" (click)="skipWhile()">Skip While Operator </button>


</div>