<div class="container" style="margin-top: 30px">
    <h1>Observables Practice</h1>
    <button (click)="subscribeToPage()" class="btn btn-dark m-4">
        Subscribe to the page
    </button>
    <div *ngFor="let val of users" class="mt-2">
        <h2>{{ val }}</h2>
    </div>

    <div class="operators container mt-2">
        <button class="btn btn-info" routerLink="creation">Creation operators</button>
        <button class="btn btn-info m-2" routerLink="transformation">Transformation operators</button>
        <button class="btn btn-info m-2" routerLink="error">Erro Handling operators</button>
        <button class="btn btn-info m-2" routerLink="filter">Filtering operators</button>
        <button class="btn btn-info m-2" routerLink="subjects">Subject</button>

    </div>
    <div class="container mt-2">
        <router-outlet></router-outlet>
    </div>
</div>