<div class="data">
    <button class="btn btn-primary m-2" (click)="subject()">Subject</button>
    <button class="btn btn-primary m-2" (click)="behaviourSubject()">Behaviour Subject</button>
    <button class="btn btn-primary m-2" (click)="replaySubject()">Replay Subject</button>
    <button class="btn btn-primary m-2" (click)="asyncSubject()">Async Subject</button>
    <button class="btn btn-primary m-2" (click)="scanOperator()">Scan Operator</button>
    <button class="btn btn-primary m-2" (click)="just()">Just Operator</button>
</div>